.home {
    width: 10px;
    height: auto;
    padding-right: 50px;
}

.home img:hover {
    content: url("../../../../assets/svg/homeLogoHover.svg");
}

.home img:active {
    content: url("../../../../assets/svg/homeLogoActive.svg");
}
