.result_button {
    background-color: #8E9B88;
    color: black;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: 15px;
}

.result_button:hover {
    background-color: #A3B29F;
}

.result_button:active {
    background-color: #7A8977;
}