.panel {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-color: #C9D2C3;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
    height: auto;
}

.panel p {
    text-align: justify;
    font-size: 18px;
    color: black;
    overflow-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
}

.panel img {
    width: auto;
    height: 235px;
}

.panel h2 {
    color: black;
    font-size: 22px;
    padding-left: 15px;
}